In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
n1=df.groupby(['cylinders','model_year']).mean()
n1

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [6]:
n1.loc[[3,4]]

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286

In [7]:
n1.loc[(4,70)]

mpg               25.285714
displacement     107.000000
weight          2292.571429
acceleration      16.000000
origin             2.285714
Name: (4, 70), dtype: float64

In [8]:
n2=n1.xs(key=3,level='cylinders')
n2

             mpg  displacement  weight  acceleration  origin
model_year
72          19.0          70.0  2330.0          13.5     3.0
73          18.0          70.0  2124.0          13.5     3.0
77          21.5          80.0  2720.0          13.5     3.0
80          23.7          70.0  2420.0          12.5     3.0

In [9]:
n1.xs(key=70,level='model_year')

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [10]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [17]:
n3=df[df['horsepower'].isin(['150','140','130','82'])]
n3

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
41,14.0,8,318.0,150,4096,13.0,71,1,plymouth fury iii
64,15.0,8,318.0,150,4135,13.5,72,1,plymouth fury iii
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst
72,15.0,8,304.0,150,3892,12.5,72,1,amc matador (sw)
73,13.0,8,307.0,130,4098,14.0,72,1,chevrolet chevelle concours (sw)
74,13.0,8,302.0,140,4294,16.0,72,1,ford gran torino (sw)
75,14.0,8,318.0,150,4077,14.0,72,1,plymouth satellite custom (sw)
86,14.0,8,304.0,150,3672,11.5,73,1,amc matador
89,15.0,8,318.0,150,3777,12.5,73,1,dodge coronet custom
91,13.0,8,400.0,150,4464,12.0,73,1,chevrolet caprice classic
93,14.0,8,318.0,150,4237,14.5,73,1,plymouth fury gran sedan
103,11.0,8,400.0,150,4997,14.0,73,1,chevrolet impala
121,15.0,8,318.0,150,3399,11.0,73,1,dodge dart custom
136,16.0,8,302.0,140,4141,14.0,74,1,ford gran torino
137,13.0,8,350.0,150,4699,14.5,74,1,buick century luxus (sw)
138,14.0,8,318.0,150,4457,13.5,74,1,dodge coronet custom (sw)
139,14.0,8,302.0,140,4638,16.0,74,1,ford gran torino (sw)
140,14.0,8,304.0,150,4257,15.5,74,1,amc matador (sw)
158,16.0,8,318.0,150,4498,14.5,75,1,plymouth grand fury
187,17.5,8,305.0,140,4215,13.0,76,1,chevrolet chevelle malibu classic
188,16.0,8,318.0,150,4190,13.0,76,1,dodge coronet brougham
208,13.0,8,318.0,150,3940,13.2,76,1,plymouth volare premier v8
214,13.0,8,302.0,130,3870,15.0,76,1,ford f108
215,13.0,8,318.0,150,3755,14.0,76,1,dodge d100
224,15.0,8,302.0,130,4295,14.9,77,1,mercury cougar brougham
250,19.4,8,318.0,140,3735,13.2,78,1,dodge diplomat
265,17.5,8,318.0,140,4080,13.7,78,1,dodge magnum xe
285,17.0,8,305.0,130,3840,15.4,79,1,chevrolet caprice classic
292,18.5,8,360.0,150,3940,13.0,79,1,chrysler lebaron town @ country (sw)
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [29]:
n3=n3.groupby(['horsepower']).mean()
n3

                  mpg  cylinders  displacement    weight  acceleration  origin
horsepower
130         15.200000        8.0    304.600000  3921.400     14.260000     1.0
140         16.190000        8.0    305.800000  4051.000     13.590000     1.0
150         15.177083        8.0    329.083333  4068.125     13.086458     1.0
82          31.000000        4.0    119.000000  2720.000     19.400000     1.0